.Project,
.Projects {
  padding: 10px 30px;
  margin-top: 5px;
  cursor: pointer;
  @media (max-width: 1024px) {
    display: none;
  }
}
.Project::before {
  content: "Projects";
}
.Projects::before {
  content: "Projekty";
}
