.Name {
  grid-area: name;
  text-align: center;
  padding-top: 65px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-family: Tahoma, sans-serif;
  font-size: 22px;
  @media (max-width: 360px) {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
  }
  @media (max-width: 420px) {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
  }
}
