.English {
  padding: 10px 20px;
  cursor: pointer;
  background-size: 25px;
  background: url(../../../../../images/english.svg) no-repeat center/42px;
  width: 35px;
  &--dark {
    padding: 10px 20px;
    cursor: pointer;
    background-size: 25px;
    background: url(../../../../../images/czech.svg) no-repeat center/42px;
    width: 35px;
  }
}
// .English {
//   z-index: 2;
//   background: url(../../../../../images/czech.svg) no-repeat center/42px;
// }
