.Container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template:
    "menu" 160px
    "content" auto/
    1fr;
  @media only screen and (max-width: 700px) {
    grid-template:
      ". menu ." 160px
      ". content ." auto/
      1fr 100% 1fr;
  }
}
