.Aboutme,
.Aboutme1 {
  padding: 10px 30px;
  margin-top: 5px;
  cursor: pointer;
  @media (max-width: 1024px) {
    display: none;
  }
}
.Aboutme::before {
  content: "About me";
}
.Aboutme1::before {
  content: "O mně";
}
